{% extends 'core/base_inner.html' %}
{% load static %}

{% block content %}

    <!-- Main -->
    <main>
        <!-- Home Banner -->
        <section class="section parallax effect-section" style="background-image: url('{% static "img/montreal.jpg" %}');">
            <div class="mask dark-bg opacity-8"></div>
            <div class="container position-relative">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h6 class="white-color-light font-w-500">Code snippets</h6>
                        <h1 class="display-4 white-color m-0px">Repository</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Home Banner -->
        <!-- Section -->
        <section class="section gray-bg">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 blog-listing p-40px-r lg-p-15px-r">
                        <div class="row">

                            {% for post in posts %}

                            <div class="col-sm-6">
                                <div class="card blog-grid-1 box-shadow-hover">
                                    <div class="blog-img">
                                        <a href="{% url 'post-detail' post.id %}">
                                            <img src="{{ post.image.url }}" title="" alt="" style="height: 175px; width: 400px;">
                                        </a>
                                    </div>
                                    <div class="card-body blog-info">
                                        <h5>
                                            <a href="#">{{ post.title }}</a>
                                        </h5>
                                        <p class="m-0px">{{ post.content|safe|truncatechars:300 }}</p>
                                        <div class="btn-bar">
                                            <a class="m-link-theme" href="{% url 'post-detail' post.id %}">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    {% if forloop.counter|divisibleby:2 %}

                    </div><!-- close existing row and open another one-->      
                    <div class="row">
                    {% endif %}

                    {% endfor %}

                    <div class="col-12">
                        {% if posts.has_other_pages %}
                          <ul class="pagination justify-content-center m-15px-t">
                            {% if posts.has_previous %}
                              <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}"><i class="fas fa-chevron-left"></i></a></li>
                            {% else %}
                              <!--<li class="disabled"><span><i class="fas fa-chevron-left"></i></span></li>-->
                            {% endif %}
                            {% for i in posts.paginator.page_range %}
                              {% if posts.number == i %}
                                <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
                              {% else %}
                                <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if posts.has_next %}
                              <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}"><i class="fas fa-chevron-right"></i></a></li>
                            {% else %}
                              <!--<li class="disabled"><span><i class="fas fa-chevron-right"></i></span></li>-->
                            {% endif %}
                          </ul>
                        {% endif %}
                    </div>
                    </div>
                    </div>
                    <div class="col-lg-4 md-m-15px-tb">
                        <div class="card">
                            <div class="card-header bg-transparent">
                                <span class="h6 m-0px">Search</span>
                            </div>
                            <div class="p-20px">
                                <form class="d-flex flex-column flex-md-row m-5px-b input-group">
                                    <input type="text" name="tag_search" class="form-control mr-sm-2 mb-2 mb-sm-0" placeholder="Search By Tags">
                                    <button class="m-btn m-btn-theme m-btn-radius flex-shrink-0" type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="card m-35px-t">
                            <div class="card-header bg-transparent">
                                <span class="h6 m-0px">Categories</span>
                            </div>
                            <div class="list-group list-group-flush">
                                
                                {% for category in categories %}

                                <a href="{% url 'post-category' category.id %}" class="list-group-item list-group-item-action d-flex justify-content-between p15px-tb">
                                    <div>
                                        <span>{{ category.title }}</span>
                                    </div>
                                    <div>
                                        <i class="ti-angle-right"></i>
                                    </div>
                                </a>

                                {% endfor %}
                                
                            </div>
                        </div>
                        <div class="card m-35px-t">
                            <div class="card-header bg-transparent">
                                <span class="h6 m-0px">Recent Posts</span>
                            </div>
                            <div class="list-group list-group-flush">
                                
                                {% for post in recent_posts %}

                                <a href="{% url 'post-detail' post.id %}" class="list-group-item list-group-item-action d-flex p15px-tb">
                                    <div>
                                        <div class="avatar-50 border-radius-5">
                                            <img src="{{ post.image.url }}" title="" alt="">
                                        </div>
                                    </div>
                                    <div class="p-15px-l">
                                        <p class="m-0px">{{ post.title }}</p>
                                    </div>
                                </a>

                                {% endfor %}

                            </div>
                        </div>
                        <div class="card m-35px-t">
                            <div class="card-header bg-transparent">
                                <span class="h6 m-0px">Tags</span>
                            </div>
                            <div class="p-20px">
                                <div class="nav tag-cloud">

                                    {% for tag in common_tags %}

                                    <a href="{% url 'tagged' tag.slug %}">{{ tag }}</a>

                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
    </main>
    <!-- End Main -->

{% endblock content %}