<!doctype html>
<html lang="en">

<head>
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="pxdraft" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Moxom - Multipurpose Responsive Template" />
    <meta name="description" content="Moxom - Multipurpose Responsive Template" />
    <!-- title -->
    <title>Moxom - Multipurpose Responsive Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- plugin CSS -->
    <link href="static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/plugin/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="static/plugin/et-line/style.css" rel="stylesheet">
    <link href="static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="static/plugin/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <!-- theme css -->
    <link href="static/style/master.css" rel="stylesheet">
</head>
<!-- Body Start -->

<body data-spy="scroll" data-target="#navbar-collapse-toggle" data-offset="98">
    <!-- Preload -->
    <div id="loading">
        <div class="load-circle"><span class="one"></span></div>
    </div>
    <!-- End Preload -->
    <!-- Header -->
    <header class="header-nav header-height header-dark">
        <div class="fixed-header-bar">
            <!-- Header Nav -->
            <div class="navbar navbar-main navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <img alt="" title="" src="static/img/logo.svg">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse navbar-collapse-overlay" id="navbar-main-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mm-in px-dropdown">
                                <a class="nav-link" href="#">Home</a>
                                <i class="fa fa-angle-down px-nav-toggle"></i>
                                <ul class="px-dropdown-menu mm-dorp-in">
                                    <li><a href="index.html">Home Option 1</a></li>
                                    <li><a href="index-01.html">Home Option 2</a></li>
                                    <li><a href="index-02.html">Home Option 3</a></li>
                                    <li><a href="index-03.html">Home Option 4</a></li>
                                    <li><a href="index-04.html">Home Option 5</a></li>
                                </ul>
                            </li>
                            <li class="nav-item mm-in px-dropdown">
                                <a class="nav-link" href="#">Pages</a>
                                <i class="fa fa-angle-down px-nav-toggle"></i>
                                <ul class="px-dropdown-menu mm-dorp-in">
                                    <li><a href="about-us-classic.html">About Us 1</a></li>
                                    <li><a href="about-us-simple.html">About Us 2</a></li>
                                    <li><a href="services-simple.html">Services</a></li>
                                    <li><a href="price.html">Pricing</a></li>
                                    <li><a href="faq.html">Faq's</a></li>
                                    <li><a href="contact-us.html">Contact us</a></li>
                                </ul>
                            </li>
                            <li class="nav-item mm-in px-mega">
                                <a class="nav-link" href="javascript:void(0)">Elements</a>
                                <i class="fa fa-angle-down px-nav-toggle"></i>
                                <div class="px-mega-menu mm-dorp-in">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <h6 class="mm-title">Elements</h6>
                                                <ul class="mm-link">
                                                    <li><a href="accordions.html"><i class="ti-layout-accordion-separated"></i> Accordions</a></li>
                                                    <li><a href="blockquote.html"><i class="ti-quote-left"></i> Blockquote</a></li>
                                                    <li><a href="button.html"><i class="ti-mouse"></i> Button</a></li>
                                                    <li><a href="call-to-action.html"><i class="ti-headphone-alt"></i> Call to action</a></li>
                                                    <li><a href="client-carousel.html"><i class="ti-layout-slider"></i> Client carousel</a></li>
                                                    <li><a href="clients.html"><i class="ti-layout-slider"></i> Clients</a></li>
                                                    <li><a href="columns.html"><i class="ti-layout-column3-alt"></i> Columns</a></li>
                                                    <li><a href="video.html"><i class="ti-video-camera"></i> Video</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h6 class="mm-title">Elements</h6>
                                                <ul class="mm-link">
                                                    <li><a href="counters.html"><i class="ti-timer"></i> Counters</a></li>
                                                    <li><a href="google-map.html"><i class="ti-location-pin"></i> Google map</a></li>
                                                    <li><a href="heading.html"><i class="ti-text"></i> Heading</a></li>
                                                    <li><a href="highlights.html"><i class="ti-underline"></i> Highlights</a></li>
                                                    <li><a href="icon-with-text.html"><i class="ti-layout-media-left"></i> Icon with text</a></li>
                                                    <li><a href="interactive-banners.html"><i class="ti-image"></i> Interactive banners</a></li>
                                                    <li><a href="lists.html"><i class="ti-list"></i> Lists</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h6 class="mm-title">Elements</h6>
                                                <ul class="mm-link">
                                                    <li><a href="message-box.html"><i class="ti-layout-media-right-alt"></i> Message box</a></li>
                                                    <li><a href="pie-chart.html"><i class="ti-pie-chart"></i> Pie chart</a></li>
                                                    <li><a href="pricing-table.html"><i class="ti-layout-grid2-thumb"></i> Pricing table</a></li>
                                                    <li><a href="process-bar.html"><i class="icon-hourglass"></i> Process bar</a></li>
                                                    <li><a href="process-step.html"><i class="ti-stats-up"></i> Process step</a></li>
                                                    <li><a href="seperators.html"><i class="ti-layout-line-solid"></i> Seperators</a></li>
                                                    <li><a href="social-icons.html"><i class="ti-signal"></i> Social icons</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h6 class="mm-title">Elements</h6>
                                                <ul class="mm-link">
                                                    <li><a href="subscribe.html"><i class="ti-bookmark"></i> Subscribe</a></li>
                                                    <li><a href="tabs.html"><i class="ti-layout-tab"></i> Tabs</a></li>
                                                    <li><a href="team.html"><i class="ti-user"></i> Team</a></li>
                                                    <li><a href="team-carousel.html"><i class="ti-layout-slider"></i> Team carousel</a></li>
                                                    <li><a href="testimonials.html"><i class="ti-thought"></i> Testimonials</a></li>
                                                    <li><a href="testimonials-carousel.html"><i class="ti-comments"></i> Testimonials Carousel</a></li>
                                                    <li><a href="text-slider.html"><i class="ti-layout-media-overlay"></i> Text Slider</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item mm-in px-dropdown">
                                <a class="nav-link" href="#">Portfolio</a>
                                <i class="fa fa-angle-down px-nav-toggle"></i>
                                <ul class="px-dropdown-menu mm-dorp-in">
                                    <li><a href="portfolio.html">Portfolio</a></li>
                                    <li><a href="portfolio-single.html">Portfolio single</a></li>
                                </ul>
                            </li>
                            <li class="nav-item mm-in px-dropdown">
                                <a class="nav-link" href="#">Blog</a>
                                <i class="fa fa-angle-down px-nav-toggle"></i>
                                <ul class="px-dropdown-menu mm-dorp-in">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-details.html">Single Blog</a></li>
                                </ul>
                            </li>
                        </ul>
                        <a class="d-none d-lg-inline-block m-btn m-btn-radius m-btn-theme2nd m-btn-sm m-20px-l" href="#">Login</a>
                    </div>
                </div>
            </div>
            <!-- End Header Nav -->
        </div>
    </header>
    <!-- Header End -->
    <!-- Main -->
    <main>
        <!-- Home Banner -->
        <section class="section parallax effect-section" style="background-image: url(static/img/montreal.jpg);">
            <div class="mask dark-bg opacity-8"></div>
            <div class="container position-relative">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h1 class="display-4 white-color m-0px">Contact</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Home Banner -->
        <!-- Section -->
        <section class="section gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 m-15px-tb">
                        <div class="box-shadow p-65px-tb p-40px-lr hover-top white-bg">
                            <div class="m-30px-b only-icon-70 theme-color">
                                <i class="icon-map"></i>
                            </div>
                            <h5 class="m-15px-b">Location</h5>
                            <p class="m-0px">Montreal, Canada.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="box-shadow p-65px-tb p-40px-lr hover-top white-bg">
                            <div class="m-30px-b only-icon-70 theme-color">
                                <i class="icon-chat"></i>
                            </div>
                            <h5 class="m-15px-b">Let's Talk</h5>
                            <p class="m-0px">Phone: 1-514-978-9422</p>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="box-shadow p-65px-tb p-40px-lr hover-top white-bg">
                            <div class="m-30px-b only-icon-70 theme-color">
                                <i class="icon-envelope"></i>
                            </div>
                            <h5 class="m-15px-b">Email Me</h5>
                            <p class="m-0px links-dark">
                                <a href="mailto:info@domain.com">grant@vancleem.com</a><br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Home Banner -->
        <!-- Section -->
        <section class="section">
            <div class="container">
                <div class="row md-m-25px-b m-40px-b justify-content-center">
                    <div class="col-lg-7 text-center">
                        <h3 class="h1 m-15px-b p-15px-b after-50 theme-after">Get in touch!</h3>
                        <p class="m-0px font-2">Moxom is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-9 col-xl-8">
                        <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="static/plugin/mail/bat/rd-mailform.php">
                            <div class="form-row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="contact-name">Your Name</label>
                                        <input id="contact-name" type="text" name="name" placeholder="Rachel Roth" data-constraints="@Required" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="contact-email">Email Address</label>
                                        <input id="contact-email" type="email" name="email" placeholder="name@example.com" data-constraints="@Required" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="contact-company">Company (optional)</label>
                                        <input type="text" name="contact-company" class="form-control" id="contact-company">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="contact-phone">Phone (optional)</label>
                                        <input type="tel" name="contact-phone" class="form-control" id="contact-phone">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="contact-message">Message</label>
                                        <textarea class="form-control" id="contact-message" name="message" rows="3" placeholder="Hi there, I would like to ..." data-constraints="@Required"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="m-btn m-btn-theme m-btn-radius w-100" type="submit" name="send">Get Started</button>
                                    <div class="snackbars" id="form-output-global"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
    </main>
    <!-- End Main -->
    <!-- Footer-->
    <footer class="dark-bg footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 m-15px-tb">
                        <img src="static/img/logo-light.svg" title="" alt="">
                    </div>
                    <div class="col-6 col-lg-2 m-15px-tb">
                        <h5 class="white-color footer-title">
                            Useful
                        </h5>
                        <ul class="list-unstyled links-white footer-link-1">
                            <li>
                                <a href="#">Apps Store</a>
                            </li>
                            <li>
                                <a href="#">Google Store</a>
                            </li>
                            <li>
                                <a href="#">Latest News</a>
                            </li>
                            <li>
                                <a href="#">Our Blog</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-2 m-15px-tb">
                        <h5 class="white-color footer-title">
                            Services
                        </h5>
                        <ul class="list-unstyled links-white footer-link-1">
                            <li>
                                <a href="#">Documentation</a>
                            </li>
                            <li>
                                <a href="#">Changelog</a>
                            </li>
                            <li>
                                <a href="#">Pagebuilder</a>
                            </li>
                            <li>
                                <a href="#">Web Services</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 m-15px-tb">
                        <h5 class="white-color footer-title">
                            Stay up to date
                        </h5>
                        <form>
                            <div class="d-flex flex-column flex-md-row m-5px-b">
                                <input type="email" class="form-control m-5px-r md-m-0px-r md-m-10px-b" placeholder="Enter your username">
                                <button class="m-btn m-btn-theme2nd m-btn-radius flex-shrink-0" type="submit">Get Started</button>
                            </div>
                            <p class="white-color-light m-0px font-small p-10px-t">New UI kits or big discounts. Never spam.</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom border-style top light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-right m-5px-tb">
                        <ul class="nav justify-content-center justify-content-md-start links-white font-small footer-link-1">
                            <li><a href="#">Privace &amp; Policy</a></li>
                            <li><a href="#">Faq's</a></li>
                            <li><a href="#">Get a Quote</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-center text-md-right m-5px-tb">
                        <p class="m-0px font-small white-color-light">© 2020 copyright all right reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- jquery -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/jquery-migrate-3.0.0.min.js"></script>
    <!-- end jquery -->
    <!-- appear -->
    <script src="static/plugin/appear/jquery.appear.js"></script>
    <!-- end appear -->
    <!--bootstrap-->
    <script src="static/plugin/bootstrap/js/popper.min.js"></script>
    <script src="static/plugin/bootstrap/js/bootstrap.js"></script>
    <!--end bootstrap-->
    <!-- working form -->
    <script src="static/plugin/mail/js/form.min.js"></script>
    <script src="static/plugin/mail/js/script.js"></script>
    <!-- custom js -->
    <script src="static/js/custom.js"></script>
    <!-- end -->
</body>
<!-- end body -->

</html>