<!doctype html>
<html lang="en">

<head>
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="pxdraft" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Moxom - Multipurpose Responsive Template" />
    <meta name="description" content="Moxom - Multipurpose Responsive Template" />
    <!-- title -->
    <title>Moxom - Multipurpose Responsive Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- plugin CSS -->
    <link href="static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/plugin/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="static/plugin/et-line/style.css" rel="stylesheet">
    <link href="static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="static/plugin/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <!-- theme css -->
    <link href="static/style/master.css" rel="stylesheet">
</head>
<!-- Body Start -->

<body data-spy="scroll" data-target="#navbar-collapse-toggle" data-offset="98">
    <!-- Preload -->
    <div id="loading">
        <div class="load-circle"><span class="one"></span></div>
    </div>
    <!-- End Preload -->
    <!-- Header -->
    <header class="header-nav header-height header-dark">
        <div class="fixed-header-bar">
            <!-- Header Nav -->
            <div class="navbar navbar-main navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <img alt="" title="" src="static/img/logo.svg">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse navbar-collapse-overlay" id="navbar-main-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mm-in px-dropdown">
                                <a class="nav-link" href="#">Home</a>
                                <i class="fa fa-angle-down px-nav-toggle"></i>
                                <ul class="px-dropdown-menu mm-dorp-in">
                                    <li><a href="index.html">Home Option 1</a></li>
                                    <li><a href="index-01.html">Home Option 2</a></li>
                                    <li><a href="index-02.html">Home Option 3</a></li>
                                    <li><a href="index-03.html">Home Option 4</a></li>
                                    <li><a href="index-04.html">Home Option 5</a></li>
                                </ul>
                            </li>
                            <li class="nav-item mm-in px-dropdown">
                                <a class="nav-link" href="#">Pages</a>
                                <i class="fa fa-angle-down px-nav-toggle"></i>
                                <ul class="px-dropdown-menu mm-dorp-in">
                                    <li><a href="about-us-classic.html">About Us 1</a></li>
                                    <li><a href="about-us-simple.html">About Us 2</a></li>
                                    <li><a href="services-simple.html">Services</a></li>
                                    <li><a href="price.html">Pricing</a></li>
                                    <li><a href="faq.html">Faq's</a></li>
                                    <li><a href="contact-us.html">Contact us</a></li>
                                </ul>
                            </li>
                            <li class="nav-item mm-in px-mega">
                                <a class="nav-link" href="javascript:void(0)">Elements</a>
                                <i class="fa fa-angle-down px-nav-toggle"></i>
                                <div class="px-mega-menu mm-dorp-in">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <h6 class="mm-title">Elements</h6>
                                                <ul class="mm-link">
                                                    <li><a href="accordions.html"><i class="ti-layout-accordion-separated"></i> Accordions</a></li>
                                                    <li><a href="blockquote.html"><i class="ti-quote-left"></i> Blockquote</a></li>
                                                    <li><a href="button.html"><i class="ti-mouse"></i> Button</a></li>
                                                    <li><a href="call-to-action.html"><i class="ti-headphone-alt"></i> Call to action</a></li>
                                                    <li><a href="client-carousel.html"><i class="ti-layout-slider"></i> Client carousel</a></li>
                                                    <li><a href="clients.html"><i class="ti-layout-slider"></i> Clients</a></li>
                                                    <li><a href="columns.html"><i class="ti-layout-column3-alt"></i> Columns</a></li>
                                                    <li><a href="video.html"><i class="ti-video-camera"></i> Video</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h6 class="mm-title">Elements</h6>
                                                <ul class="mm-link">
                                                    <li><a href="counters.html"><i class="ti-timer"></i> Counters</a></li>
                                                    <li><a href="google-map.html"><i class="ti-location-pin"></i> Google map</a></li>
                                                    <li><a href="heading.html"><i class="ti-text"></i> Heading</a></li>
                                                    <li><a href="highlights.html"><i class="ti-underline"></i> Highlights</a></li>
                                                    <li><a href="icon-with-text.html"><i class="ti-layout-media-left"></i> Icon with text</a></li>
                                                    <li><a href="interactive-banners.html"><i class="ti-image"></i> Interactive banners</a></li>
                                                    <li><a href="lists.html"><i class="ti-list"></i> Lists</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h6 class="mm-title">Elements</h6>
                                                <ul class="mm-link">
                                                    <li><a href="message-box.html"><i class="ti-layout-media-right-alt"></i> Message box</a></li>
                                                    <li><a href="pie-chart.html"><i class="ti-pie-chart"></i> Pie chart</a></li>
                                                    <li><a href="pricing-table.html"><i class="ti-layout-grid2-thumb"></i> Pricing table</a></li>
                                                    <li><a href="process-bar.html"><i class="icon-hourglass"></i> Process bar</a></li>
                                                    <li><a href="process-step.html"><i class="ti-stats-up"></i> Process step</a></li>
                                                    <li><a href="seperators.html"><i class="ti-layout-line-solid"></i> Seperators</a></li>
                                                    <li><a href="social-icons.html"><i class="ti-signal"></i> Social icons</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h6 class="mm-title">Elements</h6>
                                                <ul class="mm-link">
                                                    <li><a href="subscribe.html"><i class="ti-bookmark"></i> Subscribe</a></li>
                                                    <li><a href="tabs.html"><i class="ti-layout-tab"></i> Tabs</a></li>
                                                    <li><a href="team.html"><i class="ti-user"></i> Team</a></li>
                                                    <li><a href="team-carousel.html"><i class="ti-layout-slider"></i> Team carousel</a></li>
                                                    <li><a href="testimonials.html"><i class="ti-thought"></i> Testimonials</a></li>
                                                    <li><a href="testimonials-carousel.html"><i class="ti-comments"></i> Testimonials Carousel</a></li>
                                                    <li><a href="text-slider.html"><i class="ti-layout-media-overlay"></i> Text Slider</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item mm-in px-dropdown">
                                <a class="nav-link" href="#">Portfolio</a>
                                <i class="fa fa-angle-down px-nav-toggle"></i>
                                <ul class="px-dropdown-menu mm-dorp-in">
                                    <li><a href="portfolio.html">Portfolio</a></li>
                                    <li><a href="portfolio-single.html">Portfolio single</a></li>
                                </ul>
                            </li>
                            <li class="nav-item mm-in px-dropdown">
                                <a class="nav-link" href="#">Blog</a>
                                <i class="fa fa-angle-down px-nav-toggle"></i>
                                <ul class="px-dropdown-menu mm-dorp-in">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-details.html">Single Blog</a></li>
                                </ul>
                            </li>
                        </ul>
                        <a class="d-none d-lg-inline-block m-btn m-btn-radius m-btn-theme2nd m-btn-sm m-20px-l" href="#">Login</a>
                    </div>
                </div>
            </div>
            <!-- End Header Nav -->
        </div>
    </header>
    <!-- Header End -->
    <!-- Main -->
    <main>
        <!-- Home Banner -->
        <section class="section parallax effect-section" style="background-image: url(static/img/large-size.jpg);">
            <div class="mask dark-bg opacity-8"></div>
            <div class="container position-relative">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h6 class="white-color-light font-w-500">We are awesome designer</h6>
                        <h1 class="display-4 white-color m-0px">Icon With Text</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Home Banner -->
        <!-- Section -->
        <section class="section gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 m-15px-tb">
                        <div class="box-shadow p-65px-tb p-45px-lr hover-top white-bg">
                            <div class="m-30px-b icon-70">
                                <img src="static/img/104-loupe.svg" title="" alt="">
                            </div>
                            <h5 class="m-15px-b">Built for developers</h5>
                            <p class="m-0px">Moxom is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                            <div class="p-25px-t">
                                <a class="m-link-theme" href="#"><span class="m-btn-inner-icon arrow"></span> <span class="m-btn-inner-text">Know More</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="box-shadow p-65px-tb p-45px-lr hover-top white-bg">
                            <div class="m-30px-b icon-70">
                                <img src="static/img/102-growth.svg" title="" alt="">
                            </div>
                            <h5 class="m-15px-b">Designed to be modern</h5>
                            <p class="m-0px">Moxom is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                            <div class="p-25px-t">
                                <a class="m-link-theme" href="#"><span class="m-btn-inner-icon"></span> <span class="m-btn-inner-text">Know More</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="box-shadow p-65px-tb p-45px-lr hover-top white-bg">
                            <div class="m-30px-b icon-70">
                                <img src="static/img/101-interest.svg" title="" alt="">
                            </div>
                            <h5 class="m-15px-b">Lifetime updates</h5>
                            <p class="m-0px">Moxom is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                            <div class="p-25px-t">
                                <a class="m-link-theme" href="#"><span class="m-btn-inner-icon"></span> <span class="m-btn-inner-text">Know More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End section -->
        <!-- section -->
        <section class="p-40px-tb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 m-15px-tb">
                        <div class="media">
                            <div class="only-icon-70 theme-color">
                                <i class="icon-tools"></i>
                            </div>
                            <div class="media-body p-15px-l align-self-center">
                                <h6 class="m-0px">Powerful Options</h6>
                                <span class="font-1">Shortcode subtitle</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 m-15px-tb">
                        <div class="media">
                            <div class="only-icon-70 theme-color">
                                <i class="icon-heart"></i>
                            </div>
                            <div class="media-body p-15px-l align-self-center">
                                <h6 class="m-0px">Made with Love</h6>
                                <span class="font-1">Shortcode subtitle</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 m-15px-tb">
                        <div class="media">
                            <div class="only-icon-70 theme-color">
                                <i class="icon-layers"></i>
                            </div>
                            <div class="media-body p-15px-l align-self-center">
                                <h6 class="m-0px">Visual Page Builder</h6>
                                <span class="font-1">Shortcode subtitle</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 m-15px-tb">
                        <div class="media">
                            <div class="only-icon-70 theme-color">
                                <i class="icon-expand"></i>
                            </div>
                            <div class="media-body p-15px-l align-self-center">
                                <h6 class="m-0px">User Experience</h6>
                                <span class="font-1">Shortcode subtitle</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End section -->
        <!-- section -->
        <section class="section gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 m-15px-tb">
                        <div class="card box-shadow-hover hover-top">
                            <div class="card-body text-center">
                                <div class="icon-80 theme-bg white-color border-radius-50 m-20px-b d-inline-block">
                                    <i class="icon-tools"></i>
                                </div>
                                <h6>Pixel Perfect Design</h6>
                                <p class="m-0px">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 m-15px-tb">
                        <div class="card box-shadow-hover hover-top">
                            <div class="card-body text-center">
                                <div class="icon-80 theme-bg white-color border-radius-50 m-20px-b d-inline-block">
                                    <i class="icon-layers"></i>
                                </div>
                                <h6>Full Documentation</h6>
                                <p class="m-0px">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 m-15px-tb">
                        <div class="card box-shadow-hover hover-top">
                            <div class="card-body text-center">
                                <div class="icon-80 theme-bg white-color border-radius-50 m-20px-b d-inline-block">
                                    <i class="icon-scissors"></i>
                                </div>
                                <h6>Reasonable Pricing</h6>
                                <p class="m-0px">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 m-15px-tb">
                        <div class="card box-shadow-hover hover-top">
                            <div class="card-body text-center">
                                <div class="icon-80 theme-bg white-color border-radius-50 m-20px-b d-inline-block">
                                    <i class="icon-lock"></i>
                                </div>
                                <h6>User-friendly Admin</h6>
                                <p class="m-0px">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End section -->
        <!-- section -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 m-15px-tb">
                        <div class="media">
                            <div class="only-icon-50 theme-color">
                                <i class="icon-tools"></i>
                            </div>
                            <div class="media-body p-15px-l">
                                <h6>Pixel Perfect Design</h6>
                                <p class="m-0px">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="media">
                            <div class="only-icon-50 theme-color">
                                <i class="icon-layers"></i>
                            </div>
                            <div class="media-body p-15px-l">
                                <h6>Full Documentation</h6>
                                <p class="m-0px">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="media">
                            <div class="only-icon-50 theme-color">
                                <i class="icon-scissors"></i>
                            </div>
                            <div class="media-body p-15px-l">
                                <h6>Reasonable Pricing</h6>
                                <p class="m-0px">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End section -->
        <!-- section -->
        <section class="section gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 m-15px-tb">
                        <div class="card card-body box-shadow-lg hover-top">
                            <div class="media m-20px-b">
                                <div class="only-icon-70 theme-color font-w-700">
                                    01.
                                </div>
                                <div class="media-body p-15px-l  border-left m-15px-l">
                                    <h6 class="h5 m-0px">Creativity.<br> Discover talent</h6>
                                </div>
                            </div>
                            <p class="m-0px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="card card-body box-shadow-lg hover-top theme-bg">
                            <div class="media m-20px-b">
                                <div class="only-icon-70 white-color font-w-700">
                                    02.
                                </div>
                                <div class="media-body p-15px-l  border-left-1 border-color-white-alt m-15px-l">
                                    <h6 class="h5 m-0px white-color">Technology.<br> Expert analysis</h6>
                                </div>
                            </div>
                            <p class="m-0px white-color-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="card card-body box-shadow-lg hover-top">
                            <div class="media m-20px-b">
                                <div class="only-icon-70 theme-color font-w-700">
                                    03.
                                </div>
                                <div class="media-body p-15px-l  border-left m-15px-l">
                                    <h6 class="h5 m-0px">Discover.<br> Explore work</h6>
                                </div>
                            </div>
                            <p class="m-0px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End section -->
        <!-- section -->
        <section>
            <div class="container-fluid">
                <div class="row separated">
                    <div class="col-sm-6 col-lg-3">
                        <div class="md-p-30px-lr md-p-40px-tb p15 text-center">
                            <div class="icon-80 d-inline-block m-20px-b theme-bg-alt theme-color border-radius-50">
                                <i class="icon-tools"></i>
                            </div>
                            <h6>Elegant / Unique design</h6>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard text.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="md-p-30px-lr md-p-40px-tb p15 text-center">
                            <div class="icon-80 d-inline-block m-20px-b pink-bg-alt pink-color border-radius-50">
                                <i class="icon-layers"></i>
                            </div>
                            <h6>Full Documentation</h6>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard text.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="md-p-30px-lr md-p-40px-tb p15 text-center">
                            <div class="icon-80 d-inline-block m-20px-b theme2nd-bg-alt theme2nd-color border-radius-50">
                                <i class="icon-scissors"></i>
                            </div>
                            <h6>Reasonable Pricing</h6>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard text.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="md-p-30px-lr md-p-40px-tb p15 text-center">
                            <div class="icon-80 d-inline-block m-20px-b green-bg-alt green-color border-radius-50">
                                <i class="icon-lock"></i>
                            </div>
                            <h6>User-friendly Admin</h6>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard text.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End section -->
        <!-- section -->
        <section class="section gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 m-15px-tb">
                        <div class="hover-top box-shadow-hover white-bg line-hover p-50px-tb p-30px-lr text-center border-radius-5">
                            <a class="overlay-link" href="#"></a>
                            <div class="only-icon-70 m-30px-b d-inline-block">
                                <i class="icon-browser"></i>
                            </div>
                            <h6>Live Website Builder</h6>
                            <p class="m-0px">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="hover-top box-shadow-hover white-bg line-hover p-50px-tb p-30px-lr text-center border-radius-5">
                            <a class="overlay-link" href="#"></a>
                            <div class="only-icon-70 m-30px-b d-inline-block">
                                <i class="icon-book-open"></i>
                            </div>
                            <h6>Live Content Creator</h6>
                            <p class="m-0px">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="hover-top box-shadow-hover white-bg line-hover p-50px-tb p-30px-lr text-center border-radius-5">
                            <a class="overlay-link" href="#"></a>
                            <div class="only-icon-70 m-30px-b d-inline-block">
                                <i class="icon-wallet"></i>
                            </div>
                            <h6>Create Unique Demos</h6>
                            <p class="m-0px">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End section -->
        <!-- section -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 m-15px-tb">
                        <div class="media">
                            <div class="only-icon-90 theme-color">
                                01
                            </div>
                            <div class="media-body p-15px-l">
                                <h6>Pixel Perfect Design</h6>
                                <p class="m-0px">Lorem Ipsum is simply text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="media">
                            <div class="only-icon-90 theme-color">
                                02
                            </div>
                            <div class="media-body p-15px-l">
                                <h6>Pixel Perfect Design</h6>
                                <p class="m-0px">Lorem Ipsum is simply text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="media">
                            <div class="only-icon-90 theme-color">
                                03
                            </div>
                            <div class="media-body p-15px-l">
                                <h6>Pixel Perfect Design</h6>
                                <p class="m-0px">Lorem Ipsum is simply text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End section -->
        <!-- section -->
        <section class="p-50px-tb gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-2 m-15px-tb">
                        <div class="p10 text-center white-bg box-shadow border-radius-5 hover-top theme-hover-bg">
                            <a class="overlay-link" href="#"></a>
                            <div class="only-icon-70 d-inline-block m-15px-b theme-color">
                                <i class="icon-scissors"></i>
                            </div>
                            <h6 class="m-0px">Live website builder</h6>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 m-15px-tb">
                        <div class="p10 text-center white-bg box-shadow border-radius-5 hover-top theme-hover-bg">
                            <a class="overlay-link" href="#"></a>
                            <div class="only-icon-70 d-inline-block m-15px-b theme-color">
                                <i class="icon-expand"></i>
                            </div>
                            <h6 class="m-0px">Visual page builder</h6>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 m-15px-tb">
                        <div class="p10 text-center white-bg box-shadow border-radius-5 hover-top theme-hover-bg">
                            <a class="overlay-link" href="#"></a>
                            <div class="only-icon-70 d-inline-block m-15px-b theme-color">
                                <i class="icon-layers"></i>
                            </div>
                            <h6 class="m-0px">Modern framework</h6>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 m-15px-tb">
                        <div class="p10 text-center white-bg box-shadow border-radius-5 hover-top theme-hover-bg">
                            <a class="overlay-link" href="#"></a>
                            <div class="only-icon-70 d-inline-block m-15px-b theme-color">
                                <i class="icon-tools"></i>
                            </div>
                            <h6 class="m-0px">Creative elements</h6>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 m-15px-tb">
                        <div class="p10 text-center white-bg box-shadow border-radius-5 hover-top theme-hover-bg">
                            <a class="overlay-link" href="#"></a>
                            <div class="only-icon-70 d-inline-block m-15px-b theme-color">
                                <i class="icon-adjustments"></i>
                            </div>
                            <h6 class="m-0px">Unique shortcodes</h6>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 m-15px-tb">
                        <div class="p10 text-center white-bg box-shadow border-radius-5 hover-top theme-hover-bg">
                            <a class="overlay-link" href="#"></a>
                            <div class="only-icon-70 d-inline-block m-15px-b theme-color">
                                <i class="icon-pictures"></i>
                            </div>
                            <h6 class="m-0px">Unlimited layouts</h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End section -->
        <!-- section -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 m-15px-tb">
                        <div class="lg-width-80">
                            <div class="only-icon-60 m-20px-b theme-color">
                                <i class="icon-tools"></i>
                            </div>
                            <h6>Pixel Perfect Design</h6>
                            <p class="m-0px">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 m-15px-tb">
                        <div class="lg-width-80">
                            <div class="only-icon-60 m-20px-b theme-color">
                                <i class="icon-layers"></i>
                            </div>
                            <h6>Full Documentation</h6>
                            <p class="m-0px">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 m-15px-tb">
                        <div class="lg-width-80">
                            <div class="only-icon-60 m-20px-b theme-color">
                                <i class="icon-scissors"></i>
                            </div>
                            <h6>Reasonable Pricing</h6>
                            <p class="m-0px">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 m-15px-tb">
                        <div class="lg-width-80">
                            <div class="only-icon-60 m-20px-b theme-color">
                                <i class="icon-lock"></i>
                            </div>
                            <h6>User-friendly Admin</h6>
                            <p class="m-0px">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End section -->
        <!-- section -->
        <section class="section dark-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 m-15px-tb">
                        <div class="lg-width-95">
                            <div class="media m-10px-b">
                                <div class="only-icon-30 theme2nd-color font-w-700">
                                    01.
                                </div>
                                <div class="media-body p-15px-l align-self-center">
                                    <h6 class="white-color m-0px">Pixel Perfect Design</h6>
                                </div>
                            </div>
                            <p class="m-0px">Lorem Ipsum is simply text the printing and typesetting standard industry. Lorem Ipsum has been the industry's.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 m-15px-tb">
                        <div class="lg-width-95">
                            <div class="media m-10px-b">
                                <div class="only-icon-30 theme2nd-color font-w-700">
                                    02.
                                </div>
                                <div class="media-body p-15px-l align-self-center">
                                    <h6 class="white-color m-0px">Full Documentation</h6>
                                </div>
                            </div>
                            <p class="m-0px">Lorem Ipsum is simply text the printing and typesetting standard industry. Lorem Ipsum has been the industry's.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 m-15px-tb">
                        <div class="lg-width-95">
                            <div class="media m-10px-b">
                                <div class="only-icon-30 theme2nd-color font-w-700">
                                    03.
                                </div>
                                <div class="media-body p-15px-l align-self-center">
                                    <h6 class="white-color m-0px">Reasonable Pricing</h6>
                                </div>
                            </div>
                            <p class="m-0px">Lorem Ipsum is simply text the printing and typesetting standard industry. Lorem Ipsum has been the industry's.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 m-15px-tb">
                        <div class="lg-width-95">
                            <div class="media m-10px-b">
                                <div class="only-icon-30 theme2nd-color font-w-700">
                                    04.
                                </div>
                                <div class="media-body p-15px-l align-self-center">
                                    <h6 class="white-color m-0px">User-friendly Admin</h6>
                                </div>
                            </div>
                            <p class="m-0px">Lorem Ipsum is simply text the printing and typesetting standard industry. Lorem Ipsum has been the industry's.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End section -->
        <!-- section -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 m-15px-tb">
                        <div class="media m-20px-b">
                            <div class="only-icon-50 theme-color m-5px-t">
                                <i class="icon-tools"></i>
                            </div>
                            <div class="media-body p-15px-l border-left-1 border-color-dark-gray">
                                <span class="font-1">Discussion of the Idea</span>
                                <h6 class="m-0px">Pixel Perfect Design</h6>
                            </div>
                        </div>
                        <p class="m-0px lg-width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been standard dummy text ever since. Lorem Ipsum been.</p>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="media m-20px-b">
                            <div class="only-icon-50 theme-color m-5px-t">
                                <i class="icon-tools"></i>
                            </div>
                            <div class="media-body p-15px-l border-left-1 border-color-dark-gray">
                                <span class="font-1">Discussion of the Idea</span>
                                <h6 class="m-0px">Pixel Perfect Design</h6>
                            </div>
                        </div>
                        <p class="m-0px lg-width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been standard dummy text ever since. Lorem Ipsum been.</p>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="media m-20px-b">
                            <div class="only-icon-50 theme-color m-5px-t">
                                <i class="icon-tools"></i>
                            </div>
                            <div class="media-body p-15px-l border-left-1 border-color-dark-gray">
                                <span class="font-1">Discussion of the Idea</span>
                                <h6 class="m-0px">Pixel Perfect Design</h6>
                            </div>
                        </div>
                        <p class="m-0px lg-width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been standard dummy text ever since. Lorem Ipsum been.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End section -->
    </main>
    <!-- End Main -->
    <!-- Footer-->
    <footer class="dark-bg footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 m-15px-tb">
                        <img src="static/img/logo-light.svg" title="" alt="">
                    </div>
                    <div class="col-6 col-lg-2 m-15px-tb">
                        <h5 class="white-color footer-title">
                            Useful
                        </h5>
                        <ul class="list-unstyled links-white footer-link-1">
                            <li>
                                <a href="#">Apps Store</a>
                            </li>
                            <li>
                                <a href="#">Google Store</a>
                            </li>
                            <li>
                                <a href="#">Latest News</a>
                            </li>
                            <li>
                                <a href="#">Our Blog</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-2 m-15px-tb">
                        <h5 class="white-color footer-title">
                            Services
                        </h5>
                        <ul class="list-unstyled links-white footer-link-1">
                            <li>
                                <a href="#">Documentation</a>
                            </li>
                            <li>
                                <a href="#">Changelog</a>
                            </li>
                            <li>
                                <a href="#">Pagebuilder</a>
                            </li>
                            <li>
                                <a href="#">Web Services</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 m-15px-tb">
                        <h5 class="white-color footer-title">
                            Stay up to date
                        </h5>
                        <form>
                            <div class="d-flex flex-column flex-md-row m-5px-b">
                                <input type="email" class="form-control m-5px-r md-m-0px-r md-m-10px-b" placeholder="Enter your username">
                                <button class="m-btn m-btn-theme2nd m-btn-radius flex-shrink-0" type="submit">Get Started</button>
                            </div>
                            <p class="white-color-light m-0px font-small p-10px-t">New UI kits or big discounts. Never spam.</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom border-style top light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-right m-5px-tb">
                        <ul class="nav justify-content-center justify-content-md-start links-white font-small footer-link-1">
                            <li><a href="#">Privace &amp; Policy</a></li>
                            <li><a href="#">Faq's</a></li>
                            <li><a href="#">Get a Quote</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-center text-md-right m-5px-tb">
                        <p class="m-0px font-small white-color-light">© 2020 copyright all right reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- jquery -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/jquery-migrate-3.0.0.min.js"></script>
    <!-- end jquery -->
    <!-- appear -->
    <script src="static/plugin/appear/jquery.appear.js"></script>
    <!-- end appear -->
    <!--bootstrap-->
    <script src="static/plugin/bootstrap/js/popper.min.js"></script>
    <script src="static/plugin/bootstrap/js/bootstrap.js"></script>
    <!--end bootstrap-->
    <!-- End -->
    <!-- custom js -->
    <script src="static/js/custom.js"></script>
    <!-- end -->
</body>
<!-- end body -->

</html>