{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <!-- Main -->
    <main>
        <!-- Home Banner -->
        <section class="effect-section theme-bg">
            <div class="shap-top-left opacity-1">
                <img src="static/img/effect/style-1.svg" title="" alt="" class="svg_img dark-color">
            </div>
            <div class="shap-bottom-right opacity-1">
                <img src="static/img/effect/style-2.svg" title="" alt="" class="svg_img dark-color">
            </div>
            <div class="svg-bottom">
                <img src="static/img/effect/divider-2.svg" title="" alt="" class="svg_img gray-color">
            </div>
            <div class="container">
                <div class="row full-screen align-items-center p-100px-t">
                    <div class="col-lg-6 m-15px-tb">
                        <h6 class="m-10px-b white-color">-  Based in Montreal (Canada)</h6>
                        <h1 class="h1 m-10px-b white-color"><span class="font-w-300">Business Intelligence<br />&amp; Automation Consultant</h1>
                        <p class="font-2 white-color-light">I am specialized in advanced analytics and I develop well-designed Power BI dashboards. I also create applications and automate processes using Python, VBA and Google AppScript. </p>
                        <div class="p-20px-t m-btn-wide">
                            <a class="m-btn m-btn-radius m-btn-white m-10px-r" href="{% url 'solutions' %}">
                                <span class="m-btn-inner-text">Solutions</span>
                                <span class="m-btn-inner-icon arrow"></span>
                            </a>
                            <a class="m-btn m-btn-radius m-btn-theme2nd" href="{% url 'contact' %}">
                                <span class="m-btn-inner-text">Contact</span>
                                <span class="m-btn-inner-icon arrow"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 m-15px-tb">
                        <img class="max-width-120" src="static/img/gvancleem.svg" title="" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- End Home Banner -->
        <!-- Section -->
        <section class="section gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 m-15px-tb">
                        <div class="p-50px-r lg-p-0px-r">
                            <img class="float-right max-width-140" src="static/img/business-intelligence.svg" title="" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 m-15px-tb">
                        <h6 class="theme-color m-10px-b">Effective solutions</h6>
                        <h2 class="m-25px-b">I have a track record in delivering value to my clients.</h2>
                        <p>I have my client's best interests at heart and I am focused on their needs and achieving their goals.</p>
                        <div class="row p-20px-t">
                            <div class="col-sm-6 m-15px-tb">
                                <div class="lg-width-80">
                                    <div class="icon-50 m-20px-b">
                                        <img src="static/img/104-loupe.svg" title="" alt="">
                                    </div>
                                    <h6>Domain Expertise</h6>
                                    <p class="m-0px">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                                </div>
                            </div>
                            <div class="col-sm-6 m-15px-tb">
                                <div class="lg-width-80">
                                    <div class="icon-50 m-20px-b">
                                        <img src="static/img/101-interest.svg" title="" alt="">
                                    </div>
                                    <h6>Solutions & Analytics</h6>
                                    <p class="m-0px">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
        <!-- Section -->
        <section class="section">
            <div class="container">
                <div class="row md-m-25px-b m-40px-b justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h6 class="theme-color">Testimonials</h6>
                        <h3 class="h1 m-15px-b">What clients say about me.</h3>
                        <p class="m-0px font-2">Moxom is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                    </div>
                </div>
                <div class="owl-carousel" data-items="3" data-nav-dots="true" data-md-items="2" data-sm-items="2" data-xs-items="1" data-xx-items="1" data-space="0" data-autoplay="true">
                    <div class="card p-25px box-shadow m-15px">
                        <p class="m-0px">I wanted to hire the best and after looking at several other companies, I knew Jacob was the perfect guy for the job. He is a true professional.</p>
                        <div class="media m-20px-t">
                            <div class="avatar-60 border-radius-50">
                                <img src="static/img/xs-size.jpg" alt="" title="">
                            </div>
                            <div class="media-body p-15px-l align-self-center">
                                <h6 class="m-0px">Shoko Mugikura</h6>
                                <span class="font-small">Graphic Designer</span>
                            </div>
                        </div>
                    </div>

                    <div class="card p-25px box-shadow m-15px">
                        <p class="m-0px">I wanted to hire the best and after looking at several other companies, I knew Jacob was the perfect guy for the job. He is a true professional.</p>
                        <div class="media m-20px-t">
                            <div class="avatar-60 border-radius-50">
                                <img src="static/img/xs-size.jpg" alt="" title="">
                            </div>
                            <div class="media-body p-15px-l align-self-center">
                                <h6 class="m-0px">Shoko Mugikura</h6>
                                <span class="font-small">Graphic Designer</span>
                            </div>
                        </div>
                    </div>

                    <div class="card p-25px box-shadow m-15px">
                        <p class="m-0px">I wanted to hire the best and after looking at several other companies, I knew Jacob was the perfect guy for the job. He is a true professional.</p>
                        <div class="media m-20px-t">
                            <div class="avatar-60 border-radius-50">
                                <img src="static/img/xs-size.jpg" alt="" title="">
                            </div>
                            <div class="media-body p-15px-l align-self-center">
                                <h6 class="m-0px">Shoko Mugikura</h6>
                                <span class="font-small">Graphic Designer</span>
                            </div>
                        </div>
                    </div>

                    <div class="card p-25px box-shadow m-15px">
                        <p class="m-0px">I wanted to hire the best and after looking at several other companies, I knew Jacob was the perfect guy for the job. He is a true professional.</p>
                        <div class="media m-20px-t">
                            <div class="avatar-60 border-radius-50">
                                <img src="static/img/xs-size.jpg" alt="" title="">
                            </div>
                            <div class="media-body p-15px-l align-self-center">
                                <h6 class="m-0px">Shoko Mugikura</h6>
                                <span class="font-small">Graphic Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
        <!-- Section -->
        <section class="section  gray-bg">
            <div class="container">
                <div class="row md-m-25px-b m-40px-b justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h6 class="theme-color">Featured</h6>
                        <h3 class="h1 m-15px-b">Most recent work.</h3>
                        <p class="m-0px font-2">Here are some of the  latest business intelligence, data analytics and process automation projects that I have worked on.</p>
                    </div>
                </div>

                <div class="row">
                    {% for work in works %}

                    <div class="col-lg-4 m-15px-tb">
                        <div class="card blog-grid-1 box-shadow-hover">
                            <div class="blog-img">
                                <a class="video-btn theme p-center video" href="{{ work.video }}" data-video="{{ work.video }}"  data-toggle="modal" data-target="#videoModal"><span></span></a>
                                <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-body">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                      <iframe width="100%" height="350" src="" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                <a href="#">
                                    <img src="{% static 'img/post_background_1.jpg' %}" title="" alt="" >
                            <span></span>
                        </a>
                            </div>
                            <div class="card-body blog-info">
                                <h5>
                                    <a href="#">{{ work.title }}</a>
                                </h5>
                                <p class="m-0px">{{ work.description|truncatechars:150 }}</p>
                                <div class="btn-bar">
                                    <a class="m-link-theme" href="#">{{ work.client }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!--<div class="col-lg-4 m-15px-tb">
                        <div class="card blog-grid-1 box-shadow-hover">
                            <div class="blog-img">
                                <a class="video-btn theme popup-youtube p-center" href="https://www.youtube.com/watch?v=dNIfsv1rKJo"><span></span></a>
                                <a href="#">
                                    <img src="static/img/post_background_2.jpg" title="" alt="">
                            </div>
                            <div class="card-body blog-info">
                                <h5>
                                    <a href="#">Power BI Sales Dashboard with Python scripts.</a>
                                </h5>
                                <p class="m-0px">Power BI Dashboards with extensive data manipulation and process  automation using Python...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="card blog-grid-1 box-shadow-hover">
                            <div class="blog-img">
                                <a class="video-btn theme popup-youtube p-center" href="https://www.youtube.com/watch?v=dNIfsv1rKJo"><span></span></a>
                                <a href="#">
                                    <img src="static/img/post_background_2.jpg" title="" alt="">
                            </div>
                            <div class="card-body blog-info">
                                <h5>
                                    <a href="#">Email Reports from Microsoft Access using VBA.</a>
                                </h5>
                                <p class="m-0px">A sales dashboard which allows the user to send selected reports from Outlook to selected recipients...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 m-15px-tb">
                        <div class="card blog-grid-1 box-shadow-hover">
                            <div class="blog-img">
                                <a class="video-btn theme popup-youtube p-center" href="https://www.youtube.com/watch?v=dNIfsv1rKJo"><span></span></a>
                                <a href="#">
                                    <img src="static/img/post_background_2.jpg" title="" alt="">
                            </div>
                            <div class="card-body blog-info">
                                <h5>
                                    <a href="#">Advanced pricing simulation with Python.</a>
                                </h5>
                                <p class="m-0px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </section>
        <!-- End Section -->
        <!-- Section -->
        <section class="section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 m-15px-tb">
                        <h6 class="theme-color m-10px-b">Business Intelligence & Process Automation</h6>
                        <h3 class="h1 m-20px-b">Interested in finding out more about how we can help.</h3>
                        <p class="m-0px">Don't hesitate to contact us so we can further discuss your project and needs.</p>
                        <div class="p-25px-t row">
                            <div class="col-sm-6">
                                <ul class="list-type-01">
                                    <li>Data driven Solutions</li>
                                    <li>Data Visualization</li>
                                    <li>Interactive Dashboards</li>
                                    <li>Advanced Analytics</li>
                                    <li>Data Processing (ETL)</li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-type-01">
                                    <li>External Data</li>
                                    <li>Python Automation</li>
                                    <li>Ms Excel + VBA</li>
                                    <li>Ms Access + VBA</li>
                                    <li>Google AppScript</li>
                                </ul>
                            </div>
                        </div>
                        <div class="p-30px-t">
                            <a class="m-link-theme" href="#">Getting Started Docs</a>
                        </div>
                    </div>
                    <div class="col-lg-5 ml-auto m-15px-tb">
                        <div class="box-shadow-lg card">
                            <div class="card-body">
                                <h5 class="dark-color m-20px-b">Get a free quote</h5>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Phone number">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" placeholder="Your Comments"></textarea>
                                    </div>
                                    <div>
                                        <button class="m-btn m-btn-theme m-btn-radius w-100">Get a quote</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
    </main>
    <!-- End Main -->

{% endblock content %}