{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <span id="header_shadow"></span>
        <!-- /TOP NAV -->

        <!-- WRAPPER -->
        <div id="wrapper">

            <!-- REVOLUTION SLIDER -->
            <div class="fullwidthbanner-container roundedcorners">
                <div class="fullwidthbanner">
                    <ul>

                        <!-- SLIDE 1 -->
                        <li data-transition="3dcurtain-vertical" ddata-slotamount="15" data-masterspeed="300" data-delay="4000">

                            <!-- COVER IMAGE -->
                            <img src="{% static 'assets/images/demo/revolution_slider/sliderbg.jpg' %}" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="yes-repeat">

                            <div class="tp-caption large_bold_white lfl stl"
                                data-x="18"
                                data-y="210"
                                data-speed="1000"
                                data-start="200"
                                data-easing="easeOutExpo" data-end="3900" data-endspeed="300" data-endeasing="easeInSine">Apps Script
                            </div>

                            <div class="tp-caption large_bold_grey medium_thin_grey lfl"
                                data-x="18"
                                data-y="169"
                                data-speed="1000"
                                data-start="300"
                                data-easing="easeOutExpo" data-end="3900" data-endspeed="1000" data-endeasing="easeInSine">Google
                                <!-- <a target="_blank" href="https://wrapbootstrap.com/theme/atropos-responsive-website-template-WB05SR527">Development</a> -->
                            </div>

                            <div class="tp-caption lft"
                                data-x="right" data-hoffset="-20"
                                data-y="75"
                                data-speed="1000"
                                data-start="500"
                                data-easing="easeOutExpo" data-end="3900" data-endspeed="1000" data-endeasing="easeInSine">
                                <a href="shop-product-full-width.html"><img src="assets/images/service-google-apps-script.png" alt="Image 1"></a>
                            </div>

                            <div class="tp-caption medium_bg_darkblue sft stb"
                                data-x="26"
                                data-y="283"
                                data-speed="1000"
                                data-start="400"
                                data-easing="easeOutExpo" data-end="3900" data-endspeed="1000" data-endeasing="easeInSine">DEVELOPMENT
                            </div>

                        </li>

                        <!-- SLIDE 2 -->
                        <li data-transition="3dcurtain-vertical" ddata-slotamount="15" data-masterspeed="300" data-delay="4000">

                            <!-- COVER IMAGE -->
                            <img src="{% static 'assets/images/demo/revolution_slider/sliderbg.jpg' %}" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="yes-repeat">

                            <div class="tp-caption large_bold_grey lfl stl"
                                data-x="18"
                                data-y="210"
                                data-speed="1000"
                                data-start="200"
                                data-easing="easeOutExpo" data-end="3900" data-endspeed="10000" data-endeasing="easeInSine">AUTOMOBILE
                            </div>

                            <div class="tp-caption large_bold_grey medium_thin_grey lfl"
                                data-x="18"
                                data-y="169"
                                data-speed="1000"
                                data-start="300"
                                data-easing="easeOutExpo" data-end="3900" data-endspeed="10000" data-endeasing="easeInSine">
                                <a target="_blank" href="https://wrapbootstrap.com/theme/atropos-responsive-website-template-WB05SR527">GAMME</a>
                            </div>

                            <div class="tp-caption lft"
                                data-x="right" data-hoffset="-20"
                                data-y="75"
                                data-speed="1000"
                                data-start="500"
                                data-easing="easeOutExpo" data-end="3900" data-endspeed="1000" data-endeasing="easeInSine">
                                <a href="shop-product-full-width.html"><img src="assets/images/service-google-apps-script.png" alt="Image 1"></a>
                            </div>

                            <div class="tp-caption medium_bg_darkblue sft stb"
                                data-x="26"
                                data-y="283"
                                data-speed="1000"
                                data-start="400"
                                data-easing="easeOutExpo" data-end="3900" data-endspeed="1000" data-endeasing="easeInSine">PRODUCTION LOCALE
                            </div>

                        </li>


                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </div>
            <!-- /REVOLUTION SLIDER -->


            <section class="container">

                <hr />

                <article class="row">
                    <div class="col-md-6">
                            <img src="{% static 'assets/images/grant-van-cleemput.jpg' %}" alt="" class="img-thumbnail" />
                    </div>
                <div class="col-md-6">
                        <h3>About<strong>  Grant Van Cleemput</strong> (MBA)</h3>
                        <p>Grant has close to 20 years of experience in the Travel, Financial Services and Aerospace Industries. The core of his expertise is centered around Sales, Pricing, Benchmarking, Forecasting, Revenue Management and Yield Management.</p>
                        <p>He engages with stakeholders and knowledge experts to understand the needs of his clients and designs the appropriate solutions..</p>

                        <hr />
                        <h4>Objectives</h4>
                        <ul class="list-icon star-o">
                            <li>Provide advanced analytics to support decision making.</li>
                            <li>Assist in uncovering new opportunities</li>
                            <li>Improve strategy with clear actionable data</li>
                            <li>Increase productivity by automating repetitive tasks</li>
                            <li>Reduce errors and rework through process automation</li>
                        </ul>
                </div>
                </article>

                <hr />


             <h2 align="center">Testimonials</h2>


                    <div class="row">
                        <div class="col-md-126">

                            <div class="owl-carousel text-center" data-plugin-options='{"items": 1, "singleItem": true, "navigation": false, "pagination": true, "autoPlay": true, "transitionStyle":"fadeUp"}'><!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
                                <div class="testimonial color2">
                                    <p>Praesent est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                                    <cite><strong>John Doe</strong>, Customer</cite>
                                </div>

                                <div class="testimonial color2">
                                    <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa.</p>
                                    <cite><strong>Jessica Doe</strong>, Customer</cite>
                                </div>

                                <div class="testimonial color2">
                                    <p>Praesent est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                                    <cite><strong>Dorin Doe</strong>, Customer</cite>
                                </div>

                                <div class="testimonial color2">
                                    <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa.</p>
                                    <cite><strong>Melissa Doe</strong>, Customer</cite>
                                </div>
                            <div>

                    </div>

                </div>

            </section>

        </div>
        <!-- /WRAPPER -->


{% endblock content %}