{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<main>
        <!-- Home Banner -->
        <section class="section parallax effect-section" style="background-image: url('{% static "img/montreal.jpg" %}');">
            <div class="mask dark-bg opacity-8"></div>
            <div class="container position-relative">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h6 class="white-color-light font-w-500">Helpful, Quick and Understanding.</h6>
                        <h1 class="display-4 white-color m-0px">Support</h1>
                    </div>
                </div>
            </div>
        </section>

<main>
<div class="container">
	<br><br>	
    <h4 class="m-10px-b">Thank you for contacting. Our Support will email you soon.</h4>
    <br><br>
</div>
</main>

{% endblock content %}